
* {
    margin: 0;
    padding: 0;
}

/*Format und Hintergrundfarbe der Webseite*/
body {
    margin: 5%;
    background-color: rgb(153, 217, 234);
}

/*Überschrift formatiert*/
 h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 900;
    text-align: center;

}
/*Farbige Buchstraben der Überschrift*/
b {color : rgb(63, 72, 204)}

/*We Books*/
#webooks {
        font-family: Arial, Helvetica, sans-serif;
        font-size:72px;
        font-weight: 900;
        position: relative;
        text-align: center;
        color: rgb(63, 72, 204);
        word-spacing: 7em;
}
p{
    position: relative;
    margin: 1em 0 0 1.4em ;

}
/*Bild*/
img {
    width: 400px;
    height: 245px;
    display: block;
    margin: auto;
    border-color: rgb(63,72,204);
    border-style: solid;
}
/*Das Auswahlmenü*/
#buttons {
    margin: 5% 40% 0 40%;
    border: solid;
    border-color: rgb(63, 72, 204);
}
#buttons a {
    padding: 5% 0 5% 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
    display: block;
    font-size: 18px;
    text-decoration: none;
    background-color: rgb(0, 162, 232);
}
/*Hover-Effekt*/
#buttons a:hover {
    color: rgb(0,0,0);
    background-color: rgb(63, 72, 204);
}

/*Book_Entry_Bereich*/
/****************************************
************************
*/

#bookentry{
    color: rgb(63, 72, 204);
    font-size: 22px;
}

/*Formular für Buch anlegen*/
#Infos {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: auto;
}



select {
    display: block;
    width: 13em;
    margin-bottom: 2%;

}




#absenden {
    position: absolute;
    bottom: 10%;
    left: 40%;
    border: solid;
    border-color: #3f48cc;
    background-color: #00a2e8;
    color: #3f48cc;
    font-weight: 900;
    width: 20em;
    height: 3em;
}

div {
    float: left;
    margin-right: 10%;
}






