#bookentry{
    position: relative;
    color: rgb(63, 72, 204);
    font-size: 22px;
    margin-left: 350px;
    height: 100px;
}

/*Formular für Buch anlegen*/
#Infos {
    position: relative;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 150px;
}


.form .textbt{
    position: relative;
    margin-left: 125px;
}

.form .textba{
    position: relative;
    margin-left: 114px;
    margin-top: 10px;
}

.form .textISBN{
    position: relative;
    margin-left: 156px;
    margin-top: 10px;
}

.form .textKap{
    position: relative;
    margin-left: 140px;
    margin-top: 10px;
}

.form .textEJ{
    position: relative;
    margin-left: 58.5px;
    margin-top: 10px;
}

.form .textA{
    position: relative;
    margin-left: 134.5px;
    margin-top: 10px;
}

.form .textadb{
    position: relative;
    margin-left: 76.5px;
    margin-top: 10px;
}

#adb{

    width: 200px;
    text-align: right;
}

.form .textvn{
    position: relative;
    margin-left: 15px;
}

.form .textnn{
    position: relative;
    margin-left: 4px;
    margin-top: 10px;
}

.form .textmf{
    position: relative;
    margin-left: 25px;
    margin-top: 10px;
}


.checkboxx1, .checkboxx2 {
    position: absolute;
    float: right;
}

.form .checkboxx1{
    position: relative;
    margin-left: 88px;
    margin-top: 10px;

}

.form .checkboxx2 {
    position: relative;
    margin-left: 148px;
    margin-top: 10px;
}

body{
    background:rgb(153,217,234);
    color: rgb(63,72,204);

}

#absenden{
    position: absolute;
    border: solid;
    border-color: #3f48cc;
    background-color: #00a2e8;
    color: #3f48cc;
    font-weight: 900;

    margin-left: -175px;
    margin-top: 250px;



}

div {
    float: left;
    margin-right: 10%;
}
